{% extends 'base.html.twig' %}

{% block title %}Drivn - Les actualités{% endblock %}

{% block body %}

    {{ include('_includes/_MainNavigation.html.twig') }}
    <section class="container-large section-col">
        <div class="d-flex-column gap-20">
            <h2 class="text-center">Blog</h2>
            <div class="d-flex justify-content-center gap-30">
                <span><a href="{{ path('blog',{categorie: 'tous'}) }}">Tous</a></span>
                {% for categorie in categories %}
                <span><a href="{{ path('blog',{categorie: categorie.name}) }}">{{ categorie.name }}</a></span>

                {% endfor %}
            </div>
        </div>
        <div class="row wrap">
            {% for article in articles %}
            <div class="bloc-article">
                <div class="width430">
                    <img src="{{ asset('uploads/'~article.imageEnAvant) }}" alt="{{ article.legendeImageEnAvant }}">
                </div>
                <div class="cadre-text">
                    <div class="row">
                        <p>{{ article.categorie }}</p>
                        <p>|</p>
                        <p>Publié le <span>{{ article.createdDate|date("d-m-Y") }}</span></p>
                    </div>
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.content|slice(0,200) |striptags|raw }}</p>
                    <a href="{{ path('article',{slug:article.slug}) }}">Lire l'article</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section-bg-demo">
        <div class="section-demo">
            <div class="cadre-demo">
                <div class="col">
                    <div class="row">
                        <h2 class="text-center">Demander votre démo gratuitement</h2>
                        <p class="text-center">Vous êtes intéressé par nos solutions ? Mais vous n'êtes pas encore sûre ! N'hésitez pas à demander notre démo gratuite pour tester nos solutions.</p>
                    </div>
                    <span class="form-demo" >
                        {{ form_start(formDemo, {'attr': {'class': 'form-demo'}}) }}
                        {{ form_row(formDemo.email) }}
                        {{ form_end(formDemo) }}
                    </span>
                </div>
            </div>
        </div>
    </section>
    {{ include('_includes/_Footer.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
