<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backRoot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backOffice.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cssComplet.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}


</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
</body>
</html>
